$dark: #2f2f2f;
$light: #eeece9;
$gray: #cecece;
$blue: #014ea8;
$red: #dd353a;

$orange: #f99e29;
$orange-op-02: #f99e2933;
$orange-op-03: #f99e294d;
$orange-op-04: #f99e2966;
$orange-op-05: #f99e2980;
$orange-op-06: #f99e2999;
$orange-op-08: #f99e2999;
